<nav class="navbar navbar-dark bg-primary bg-gradient fw-bold px-3">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <!-- #region USERNAME DROPDOWN -->
    <div ngbDropdown display="dynamic" class="d-flex justify-content-end">
      <button
        type="button"
        class="btn d-flex justify-content-between align-items-center me-3"
        style="outline: none; border: none; color: white; font-weight: 500"
        ngbDropdownToggle
      >
        ***REMOVED******REMOVED*** exerciseLogService.selectedUsernameLabel() | titlecase ***REMOVED******REMOVED***
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="exerciseLogService.selectedUsername$.next(null)">All Users</button>
        @for (username of exerciseLogService.usernames(); track username) ***REMOVED***
          <button
            ngbDropdownItem
            [ngClass]="***REMOVED*** active: username === exerciseLogService.selectedUsername() ***REMOVED***"
            (click)="exerciseLogService.selectedUsername$.next(username)"
          >
            ***REMOVED******REMOVED*** username | titlecase ***REMOVED******REMOVED***
          </button>
    ***REMOVED***
      </div>
    </div>
    <!-- #endregion -->
    <button type="button" class="btn" style="outline: none; border: none; padding: 0">
      <i
        class="fa fa-refresh"
        style="font-size: 20px; color: white"
        [ngClass]="***REMOVED*** spin: isSpinning ***REMOVED***"
        (click)="isSpinning = true; fetchData()"
        (animationend)="isSpinning = false"
      ></i>
    </button>
  </div>
</nav>

<div [style.marginBottom.rem]="8">
  <router-outlet></router-outlet>
</div>

@if (exerciseLogService.loaded()) ***REMOVED***
  <button class="btn btn-lg btn-primary" (click)="open('create')">
    <i class="fa fa-plus"></i>
  </button>
***REMOVED***

<nav class="navbar navbar-dark bg-primary bg-gradient fixed-bottom fw-bold">
  <div class="container-fluid">
    <ul class="navbar-nav flex-row gap-3 justify-content-center w-100">
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center gap-2"
          [routerLink]="LOGS_PATH"
          routerLinkActive="active"
          [routerLinkActiveOptions]="***REMOVED*** exact: true ***REMOVED***"
        >
          Logs <i class="fa fa-history"></i>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center gap-2"
          [routerLink]="STATS_PATH"
          routerLinkActive="active"
        >
          Stats <i class="fa fa-bar-chart"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
