<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <button
      style="margin-left: auto"
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <a [routerLink]="Paths.SIGN_IN" (click)="offcanvas.dismiss()">Sign In</a>
    <a [routerLink]="Paths.SIGN_UP" (click)="offcanvas.dismiss()">Sign Up</a>
    <a (click)="authApiService.signOut(); offcanvas.dismiss()" class="link-primary">Sign out</a>
    <a [routerLink]="Paths.EXERCISES" (click)="offcanvas.dismiss()">Exercises</a>
    <a [routerLink]="Paths.DEVELOPER" (click)="offcanvas.dismiss()">Developer</a>
  </div>
</ng-template>

<div class="toast-container">
  @for (toast of toastService.toasts; track toast) {
    <ngb-toast [autohide]="true" [delay]="toast.delay || 3000" (hidden)="toastService.remove(toast)">
      <ngb-alert [type]="toast.type" (closed)="toastService.remove(toast)">{{ toast.text }}</ngb-alert>
    </ngb-toast>
  }
</div>

@if (hasAppLoaded) {
  <app-header (logsRefreshClicked)="fetchData(true, true)" (menuSidebarClicked)="openSidebar(content)"></app-header>

  <div [style.marginBottom.rem]="8">
    <router-outlet></router-outlet>
  </div>

  @if (exerciseLogService.loaded()) {
    <button class="btn btn-lg btn-primary" (click)="open('create')">
      <i class="fa fa-plus"></i>
    </button>
  }

  <app-footer></app-footer>
} @else {
  <div class="preloader">
    <div class="preloader-content">
      <div class="preloader-title">ROBERTLY</div>
      <div class="progress">
        <div class="progress-bar" [style.width.%]="preloaderProgress"></div>
      </div>
      <div class="preloader-message">
        {{ preloaderMessage }}
      </div>
    </div>
  </div>
}
