<ng-template
  #content
  let-offcanvas
>
  <div class="offcanvas-header">
    <button
      tabindex="-1"
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    @if (!authService.user.value()) {
      <a
        [routerLink]="Paths.SIGN_IN"
        (click)="offcanvas.dismiss()"
        >Sign In</a
      >
      <a
        [routerLink]="Paths.SIGN_UP"
        (click)="offcanvas.dismiss()"
        >Sign Up</a
      >
    }

    @if (!!authService.user.value()) {
      <a
        [routerLink]="Paths.EXERCISES"
        (click)="offcanvas.dismiss()"
        >Exercises</a
      >
      <a
        [routerLink]="Paths.FOODS"
        (click)="offcanvas.dismiss()"
        >Food Tracker</a
      >
      <a
        [routerLink]="Paths.CONFIGURATION"
        (click)="offcanvas.dismiss()"
        >Configuration</a
      >
    }

    @if (!!authService.user.value()) {
      <button
        (click)="signOut(); offcanvas.dismiss()"
        class="btn btn-link app-cursor-pointer"
      >
        Sign Out
      </button>
    }
  </div>
</ng-template>

<div class="toast-container">
  @for (toast of toastService.toasts(); track $index) {
    <ngb-toast
      data-bs-theme="light"
      [autohide]="true"
      [delay]="toast.delay || 6000"
      (hidden)="toastService.remove(toast)"
    >
      <ngb-alert
        [type]="toast.type"
        (closed)="toastService.remove(toast)"
        >{{ toast.text }}</ngb-alert
      >
    </ngb-toast>
  }
</div>

@if (!isLoading()) {
  @if (currentRoute()?.url !== '/' + Paths.SIGN_IN) {
    <app-header (menuSidebarClicked)="openSidebar(content)"> </app-header>
  }

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  @if (currentRoute()?.url !== '/' + Paths.SIGN_IN) {
    <app-footer></app-footer>
  }
} @else {
  <div class="preloader">
    <div class="preloader-content">
      <div class="preloader-title">ROBERTLY</div>
      <div class="progress">
        <div
          class="progress-bar"
          [style.width.%]="preloaderProgress()"
        ></div>
      </div>
    </div>
  </div>
}
