@if (exerciseLogService.loaded()) ***REMOVED***
  <div class="container my-4">
    <app-series-per-muscle-group-weekly class="mb-4" [rows]="exerciseLogService.exerciseRows()"></app-series-per-muscle-group-weekly>

    <!-- #region MONTHLY -->
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Summary</button>
        <ng-template ngbNavContent>
          <app-series-per-muscle-group-monthly class="mb-4">
            <app-series-per-muscle-group-summary-monthly></app-series-per-muscle-group-summary-monthly>
            <div class="fw-semibold">
              ***REMOVED******REMOVED*** exerciseLogService.daysTrainedInSelectedMonthMessage() ***REMOVED******REMOVED***
            </div>
          </app-series-per-muscle-group-monthly>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Bar Graph</button>
        <ng-template ngbNavContent>
          <app-series-per-muscle-group-monthly class="mb-4">
            <app-series-per-muscle-group-graph-monthly></app-series-per-muscle-group-graph-monthly>
            <div class="fw-semibold">
              ***REMOVED******REMOVED*** exerciseLogService.daysTrainedInSelectedMonthMessage() ***REMOVED******REMOVED***
            </div>
          </app-series-per-muscle-group-monthly>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <!-- #endregion -->

    <app-series-per-muscle-group-yearly class="mb-4" [rows]="exerciseLogService.exerciseRows()"></app-series-per-muscle-group-yearly>
    <div class="card border-0 shadow-material-1">
      <div class="card-body">
        <div class="card-title mb-3">
          <h5>Miscellaneous</h5>
          <table class="table table-sm m-0 mb-3">
            <tbody>
              <th colspan="2" style="font-weight: 500">Days Trained</th>
              @for (daysByUser of exerciseLogService.amountDaysTrainedPerUser() | keyvalue; track daysByUser.key) ***REMOVED***
                <tr>
                  <td>***REMOVED******REMOVED*** daysByUser.key | titlecase ***REMOVED******REMOVED***</td>
                  <td>***REMOVED******REMOVED*** daysByUser.value ***REMOVED******REMOVED***</td>
                </tr>
          ***REMOVED***
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
***REMOVED*** @else ***REMOVED***
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
***REMOVED***
