@if (!this.isLoading()) {
  <div class="footer-padding">
    <div class="modal-header">
      <h4
        class="modal-title"
        id="modal-basic-title"
      >
        {{ mode() === 'edit' ? 'Edit' : 'Create' }} Log
      </h4>
    </div>

    <div class="modal-body">
      <form>
        <input
          type="text"
          autofocus="autofocus"
          style="display: none"
        />

        <!-- #region INPUT DATE -->
        <div class="mb-2">
          <input
            type="date"
            placeholder="DD-MM-YYYY"
            class="form-control"
            [formControl]="formGroup().controls.date"
          />
        </div>
        <!-- #endregion -->

        <!-- #region INPUT DATE -->
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="User"
            [formControl]="formGroup().controls.user"
          />
        </div>
        <!-- #endregion -->

        <!-- #region TYPEAHEAD EXERCISE -->
        <div class="mb-3">
          <div class="input-group">
            <app-typeahead
              placeholder="Exercise"
              [items]="exerciseLogService.exercises()"
              [control]="formGroup().controls.exercise"
              [itemSelector]="exerciseSelector"
            ></app-typeahead>
          </div>

          @if (!formGroup().controls.exercise.pristine) {
            @for (error of formGroup().errors?.['exercise'] | keyvalue; track $index) {
              <div class="d-block invalid-feedback">{{ error.value }}</div>
            }
          }
        </div>
        <!-- #endregion -->

        @if (hasUnsavedChanges()) {
          <div class="mb-2 px-2">
            <i
              class="fa fa-exclamation-circle"
              aria-hidden="true"
            ></i>

            You have unsaved changes
          </div>
        }

        <!-- #region SERIES -->
        @for (serieControl of formGroup().controls.series.controls; track $index) {
          <div class="input-group mb-2 align-items-center">
            <span class="input-group-text">Serie {{ $index + 1 }}</span>
            <input
              type="number"
              class="form-control"
              placeholder="Reps"
              [formControl]="serieControl.controls.reps"
            />
            <input
              type="number"
              class="form-control"
              placeholder="Kg"
              [formControl]="serieControl.controls.weightInKg"
            />
          </div>
        }

        @if (!formGroup().controls.series.pristine) {
          @for (error of formGroup().errors?.['series'] | keyvalue; track $index) {
            <div class="d-block invalid-feedback">{{ error.value }}</div>
          }
        }
        <!-- #endregion -->
      </form>
    </div>
    <div
      class="modal-footer"
      [ngClass]="{ 'justify-content-between': mode() === 'edit' }"
    >
      @if (mode() === 'edit') {
        <button
          type="button"
          class="btn btn-danger me-auto"
          (click)="openDeleteModal()"
        >
          Delete
        </button>
      }
      <button
        type="button"
        class="btn btn-secondary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        #saveButton
        type="button"
        class="btn"
        [ngClass]="{
          'btn-primary': formGroup().valid,
          'btn-secondary': formGroup().invalid
        }"
        [disabled]="formGroup().invalid"
        (click)="save()"
      >
        Save
      </button>

      @if (mode() === 'edit') {
        <div class="pt-5 w-100">
          <div class="pb-2">Previous entries</div>
          @for (log of originalValue.value()?.recentLogs ?? []; track $index) {
            <app-exercise-log
              class="w-100"
              [exerciseLog]="log"
            ></app-exercise-log>
          }
        </div>

        <div class="pt-3 w-100">
          <div class="pb-2">Possible 1RM (Brzycky Formula)</div>
          @for (serie of originalValue.value()?.series; track $index) {
            <ul class="list-group list-group-horizontal pb-1">
              <li class="list-group-item active">Serie {{ $index + 1 }}</li>
              <li class="list-group-item">{{ serie.brzycki | number: '1.2-2' }}kg</li>
            </ul>
          }
          <ul class="list-group list-group-horizontal pb-1">
            <li class="list-group-item active">Average</li>
            <li class="list-group-item">{{ originalValue.value()?.brzyckiAverage | number: '1.2-2' }}kg</li>
          </ul>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="position-absolute top-50 start-50 translate-middle">
    <div
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
