@if (!this.isLoading()) {
  <div class="header-footer-padding">
    <div class="container">
      <div class="pb-3">
        <h4 class="title">{{ mode() === 'edit' ? 'Edit' : 'Create' }} Exercise Log</h4>
        <span class="subtitle">Record your workout details and progress</span>
      </div>

      <div>
        <input
          type="text"
          autofocus="autofocus"
          style="display: none"
        />

        <!-- #region INPUT DATE -->
        <div class="mb-2">
          <input
            type="date"
            placeholder="DD-MM-YYYY"
            class="form-control"
            [(ngModel)]="formSignal.date"
            [disabled]="!formEnabled()"
          />
        </div>
        <!-- #endregion -->

        <!-- #region TYPEAHEAD USER -->
        <div class="col-12 mb-2">
          <app-typeahead
            placeholder="User"
            [(value)]="formSignal.user"
            [items]="users()"
            [itemSelector]="userSelector"
            [disabled]="!formEnabled()"
          ></app-typeahead>
        </div>
        <!-- #endregion -->

        <!-- #region TYPEAHEAD EXERCISE -->
        <div class="mb-3">
          <div class="input-group">
            <app-typeahead
              placeholder="Exercise"
              [(value)]="formSignal.exercise"
              [items]="exerciseApiService.exercises()"
              [itemSelector]="exerciseSelector"
              [disabled]="!formEnabled()"
            ></app-typeahead>
          </div>
        </div>
        <!-- #endregion -->

        @if (hasUnsavedChanges()) {
          <div class="mb-2 px-2">
            <i
              class="fa fa-exclamation-circle"
              aria-hidden="true"
            ></i>

            You have unsaved changes
          </div>
        }

        <!-- #region SERIES -->
        @let series = formSignal.series();
        <div class="mb-3">
          @for (serie of series; track $index) {
            <div class="pb-1">
              <div class="row g-2">
                <div class="col-6">
                  <input
                    type="text"
                    inputmode="decimal"
                    class="form-control"
                    placeholder="Reps"
                    [(ngModel)]="serie().reps"
                    [disabled]="!formEnabled()"
                    onlyNumbers
                    [allowDecimals]="false"
                  />
                </div>
                <div class="col-6">
                  <input
                    type="text"
                    inputmode="decimal"
                    class="form-control"
                    placeholder="Weight (Kg)"
                    [(ngModel)]="serie().weightInKg"
                    [disabled]="!formEnabled()"
                    onlyNumbers
                  />
                </div>
              </div>
            </div>
          }
        </div>

        <!-- #endregion -->
      </div>

      <div class="row g-2 mb-5">
        <div class="col">
          <button
            type="button"
            class="btn btn-secondary w-100"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>

        <div class="col">
          <button
            type="button"
            class="btn w-100 d-flex justify-content-center align-items-center"
            [class.btn-primary]="formValid()"
            [class.btn-secondary]="!formValid() || !hasUnsavedChanges() || isSaveLoading()"
            [disabled]="!formValid() || isSaveLoading() || (mode() === 'edit' && !hasUnsavedChanges())"
            (click)="save()"
          >
            @if (!isSaveLoading()) {
              <i
                class="fa fa-save px-2"
                aria-hidden="true"
              ></i>
            } @else {
              <span
                class="spinner-border spinner-border-sm mx-2"
                aria-hidden="true"
              ></span>
              <span
                class="visually-hidden"
                role="status"
                >Loading...</span
              >
            }

            Save
          </button>
        </div>
      </div>

      @let original = originalValue.value();
      @if (mode() === 'edit') {
        @if (original) {
          <div class="card mb-3">
            <div class="card-body">
              <div class="card-title">Previous entries</div>
              @for (log of original.recentLogs | slice: 0 : 3; track $index) {
                <app-exercise-log
                  class="w-100"
                  [exerciseLog]="log"
                ></app-exercise-log>
              }
            </div>
          </div>
        }

        @if (recentlyUpdated.value()?.length) {
          <div class="card mb-3">
            <div class="card-body">
              <div class="card-title">Recently Updated</div>
              @for (log of recentlyUpdated.value() | slice: 0 : 3; track $index) {
                <app-exercise-log
                  class="w-100"
                  [exerciseLog]="log"
                ></app-exercise-log>
              }
            </div>
          </div>
        }

        @if (original) {
          <div class="card mb-3">
            <div class="card-body">
              <div class="card-title">Possible 1RM (Brzycky Formula)</div>
              @for (serie of original.series; track $index) {
                <span class="serie-label">Serie {{ $index + 1 }}</span>
                <ul class="list-group list-group-horizontal pb-1">
                  <li class="list-group-item w-100">{{ serie.brzycki | number: '1.2-2' }}kg</li>
                </ul>
              }
              <span class="serie-label">Average</span>
              <ul class="list-group list-group-horizontal pb-1">
                <li class="list-group-item w-100">{{ original.brzyckiAverage | number: '1.2-2' }}kg</li>
              </ul>
            </div>
          </div>
        }
      }

      @if (mode() === 'edit') {
        <button
          type="button"
          class="btn btn-danger w-100 delete-button"
          (click)="openDeleteModal()"
        >
          <i
            class="fa fa-trash px-2"
            aria-hidden="true"
          ></i>
          <span>Delete</span>
        </button>
      }
    </div>
  </div>
} @else {
  <div class="position-absolute top-50 start-50 translate-middle">
    <div
      class="robertly-spinner spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
