<!-- #region FILTERS -->
<div class="container my-4">
  <!-- #region DROPDOWN TYPE -->
  <div class="row mb-2 gx-2">
    <div class="col-12">
      <div ngbDropdown class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center" ngbDropdownToggle>
          ***REMOVED******REMOVED*** exerciseLogService.selectedTypeLabel() | titlecase ***REMOVED******REMOVED***
        </button>
        <div ngbDropdownMenu class="w-100">
          @if (exerciseLogService.selectedType()) ***REMOVED***
            <button ngbDropdownItem (click)="exerciseLogService.selectedType$.next(null)">Clear filter</button>
      ***REMOVED***
          @for (type of exerciseLogService.types(); track type) ***REMOVED***
            <button
              ngbDropdownItem
              [ngClass]="***REMOVED*** active: type === exerciseLogService.selectedType() ***REMOVED***"
              (click)="exerciseLogService.selectedType$.next(type)"
            >
              ***REMOVED******REMOVED*** type | titlecase ***REMOVED******REMOVED***
            </button>
      ***REMOVED***
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region TYPEAHEAD EXERCISE -->
  <div class="col-12">
    <input
      type="text"
      class="form-control mb-2"
      [(ngModel)]="exerciseTypeahead"
      (selectItem)="onExerciseTypeaheadChange($event)"
      [ngbTypeahead]="exerciseSearch"
      (focus)="exerciseTypeahead = ''; exerciseFocus$.next(exerciseTypeahead)"
      (blur)="exerciseTypeahead = exerciseLogService.selectedExerciseLabel()"
      [popupClass]="'typeahead'"
      [resultFormatter]="exerciseFormatter"
      [inputFormatter]="exerciseFormatter"
      #exerciseTypeaheadInput
    />
  </div>
  <!-- #endregion -->

  <!-- #region WEIGHT EXERCISE -->

  <div class="col-12">
    <input
      type="text"
      class="form-control mb-2"
      [(ngModel)]="weightTypeahead"
      (selectItem)="onWeightTypeaheadChange($event)"
      [ngbTypeahead]="weightSearch"
      (focus)="weightTypeahead = ''; weightFocus$.next(weightTypeahead)"
      (blur)="weightTypeahead = exerciseLogService.selectedWeightLabel()"
      [popupClass]="'typeahead'"
      [resultFormatter]="weightFormatter"
      [inputFormatter]="weightFormatter"
      #weightTypeaheadInput
    />
  </div>
  <!-- #endregion -->

  <div class="row">
    <div class="col-12">
      <div class="form-check form-switch d-flex align-items-center gap-1">
        <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="isGrouped" />
        <label class="form-check-label">Grouped</label>
      </div>
    </div>
  </div>
</div>
<!-- #endregion -->

@if (exerciseLogService.loaded()) ***REMOVED***
  <div class="container">
    @if (exerciseLogService.personalRecord(); as personalRecord) ***REMOVED***
      <app-personal-record class="mb-3" [personalRecord]="personalRecord"></app-personal-record>
***REMOVED***
    @if (isGrouped) ***REMOVED***
      <app-grouped-exercise-rows></app-grouped-exercise-rows>
***REMOVED*** @else ***REMOVED***
      <app-excercise-rows [exerciseRows]="exerciseLogService.exerciseRows()"></app-excercise-rows>
***REMOVED***
  </div>
***REMOVED*** @else ***REMOVED***
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
***REMOVED***
