<div
  class="footer-padding"
  [hidden]="logs.isLoading()"
>
  <app-filters (filtersChanged)="onFilterChange($event)"></app-filters>

  <div class="container d-flex justify-content-end align-items-center gap-2">
    <button
      class="btn btn-secondary"
      (click)="prevPage()"
    >
      <i class="fa fa-angle-left"></i>
    </button>
    {{ currentPage() + 1 }}
    <button
      class="btn btn-secondary"
      (click)="nextPage()"
    >
      <i class="fa fa-angle-right"></i>
    </button>
  </div>

  <div class="mt-4">
    <div class="container">
      @for (log of logs.value(); track $index) {
        <app-exercise-log [exerciseLog]="log"></app-exercise-log>
      }
    </div>
  </div>
</div>

<div
  [hidden]="!logs.isLoading()"
  class="position-absolute top-50 start-50 translate-middle"
>
  <div
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
