<div class="header-footer-padding">
  <div class="container">
    <div
      class="pb-3"
      style="display: grid; grid-template-columns: 1fr 1fr 1fr"
    >
      <div class="d-flex justify-content-center align-items-center flex-column">
        <app-ring
          [value]="this.stats.value()?.daysTrainedThisWeek ?? 0"
          [maxValue]="daysPerWeekTarget() * 1"
        ></app-ring>
        <div style="text-align: center; font-size: 12px; padding: 0.5rem">Days trained this week</div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <app-ring
          [value]="this.stats.value()?.daysTrainedThisMonth ?? 0"
          [maxValue]="daysPerWeekTarget() * 4"
        ></app-ring>
        <div style="text-align: center; font-size: 12px; padding: 0.5rem">Days trained this month</div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <app-ring
          [value]="this.stats.value()?.daysTrainedThisYear ?? 0"
          [maxValue]="daysPerWeekTarget() * 52"
        ></app-ring>
        <div style="text-align: center; font-size: 12px; padding: 0.5rem">Days trained this year</div>
      </div>
    </div>

    <div>
      <div class="services">
        <div class="service" (click)="navigateTo([Paths.FOOD_LOGS, Paths.CREATE])">
          <div class="service-icon">
            <i class="iconoir-book"></i>
            <i class="iconoir-plus-circle-solid"></i>
          </div>
          <span class="btn btn-link"> Add Food Log</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.EXERCISE_LOGS, Paths.CREATE])">
          <div class="service-icon">
            <i class="iconoir-book"></i>
            <i class="iconoir-plus-circle-solid"></i>
          </div>
          <span class="btn btn-link">Add Exercise Log</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.FOODS, Paths.CREATE])">
          <div class="service-icon">
            <i class="iconoir-pizza-slice"></i>
            <i class="iconoir-plus-circle-solid"></i>
          </div>
          <span class="btn btn-link">Add Food</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.EXERCISES, Paths.CREATE])">
          <div class="service-icon">
            <i class="iconoir-gym"></i>
            <i class="iconoir-plus-circle-solid"></i>
          </div>
          <span class="btn btn-link">Add Exercise</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.FOODS])">
          <div class="service-icon">
            <i class="iconoir-book"></i>
          </div>
          <span class="btn btn-link">Food Logs</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.EXERCISE_LOGS])">
          <div class="service-icon">
            <i class="iconoir-book"></i>
          </div>
          <span class="btn btn-link">Exercise Logs</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.FOODS])">
          <div class="service-icon">
            <i class="iconoir-pizza-slice"></i>
          </div>
          <span class="btn btn-link">Foods</span>
        </div>

        <div class="service" (click)="navigateTo([Paths.EXERCISES])">
          <div class="service-icon">
            <i class="iconoir-gym"></i>
          </div>
          <span class="btn btn-link">Exercises</span>
        </div>
      </div>
    </div>

    <div class="pt-4 pb-2">
      <h6>Recently updated</h6>
    </div>
    @for (log of recentlyUpdatedLogs() | slice: 0 : recentlyUpdatedAmountToShow(); track $index) {
      <app-exercise-log [exerciseLog]="log"></app-exercise-log>
    }
    <div
      (click)="toggleShowMoreRecentlyUpdated()"
      style="font-size: 14px; padding: 0 0.4rem"
    >
      {{ showMoreRecentlyUpdated() ? 'Show less...' : 'Show more...' }}
    </div>

    <div class="pt-4 pb-2">
      <h6>Latest Workout</h6>
    </div>
    @for (log of latestWorkoutLogs() | slice: 0 : latestWorkoutAmountToShow(); track $index) {
      <app-exercise-log [exerciseLog]="log"></app-exercise-log>
    }
    <div
      (click)="toggleShowMoreLatestWorkout()"
      style="font-size: 14px; padding: 0 0.4rem"
    >
      {{ showMoreLatestWorkout() ? 'Show less...' : 'Show more...' }}
    </div>
  </div>
</div>
