<div class="header-footer-padding">
  <div class="container">
    <div class="pb-3 days-trained-grid">
      <div class="d-flex justify-content-center align-items-center flex-column">
        @let stats = exerciseLogStats.value();

        <app-ring
          [value]="stats?.daysTrainedThisWeek ?? 0"
          [maxValue]="daysPerWeekTarget() * 1"
        ></app-ring>
        <div class="days-trained-label">Days trained this week</div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <app-ring
          [value]="stats?.daysTrainedThisMonth ?? 0"
          [maxValue]="daysPerWeekTarget() * 4"
        ></app-ring>
        <div class="days-trained-label">Days trained this month</div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <app-ring
          [value]="stats?.daysTrainedThisYear ?? 0"
          [maxValue]="daysPerWeekTarget() * 52"
        ></app-ring>
        <div class="days-trained-label">Days trained this year</div>
      </div>
    </div>

    <div class="pt-2">
      <app-progress-bar
        [current]="macros.value()?.caloriesInDate ?? 0"
        [goal]="2300"
        [label]="'Calories'"
      ></app-progress-bar>
      <app-progress-bar
        [current]="macros.value()?.proteinInDate ?? 0"
        [goal]="130"
        [label]="'Protein'"
      ></app-progress-bar>
    </div>

    <div class="pt-2">
      <div class="services">
        <div
          class="service"
          (click)="navigateTo([Paths.FOOD_LOGS])"
        >
          <div class="service-icon">
            <i class="iconoir-book"></i>
          </div>
          <span class="btn btn-link">Food Logs</span>
        </div>

        <div
          class="service"
          (click)="navigateTo([Paths.EXERCISE_LOGS])"
        >
          <div class="service-icon">
            <i class="iconoir-book"></i>
          </div>
          <span class="btn btn-link">Exercise Logs</span>
        </div>

        <div
          class="service"
          (click)="navigateTo([Paths.FOODS])"
        >
          <div class="service-icon">
            <i class="iconoir-pizza-slice"></i>
          </div>
          <span class="btn btn-link">Foods</span>
        </div>

        <div
          class="service"
          (click)="navigateTo([Paths.EXERCISES])"
        >
          <div class="service-icon">
            <i class="iconoir-gym"></i>
          </div>
          <span class="btn btn-link">Exercises</span>
        </div>
      </div>
    </div>

    <div class="pt-4 pb-2">
      <h6>Recently updated</h6>
    </div>
    @for (log of recentlyUpdatedLogs() | slice: 0 : recentlyUpdatedAmountToShow(); track $index) {
      <app-exercise-log [exerciseLog]="log"></app-exercise-log>
    }
    <div
      (click)="toggleShowMoreRecentlyUpdated()"
      class="show-more"
    >
      {{ showMoreRecentlyUpdated() ? 'Show less...' : 'Show more...' }}
    </div>
  </div>
</div>
