<div class="footer-padding">
  @if (!isLoading()) {
    <div class="container">
      <div class="pb-2">
        <h6>Recently updated</h6>
      </div>
      @for (log of recentlyUpdatedLogs.value() | slice: 0 : recentlyUpdatedAmountToShow(); track $index) {
        <app-exercise-log [exerciseLog]="log"></app-exercise-log>
      }
      <div
        (click)="toggleShowMoreRecentlyUpdated()"
        style="font-size: 14px; padding: 0 0.4rem"
      >
        {{ showMoreRecentlyUpdated() ? 'Show less...' : 'Show more...' }}
      </div>
      <div class="pt-4 pb-2">
        <h6>Latest Workout</h6>
      </div>
      @for (log of latestWorkoutLogs.value() | slice: 0 : latestWorkoutAmountToShow(); track $index) {
        <app-exercise-log [exerciseLog]="log"></app-exercise-log>
      }
      <div
        (click)="toggleShowMoreLatestWorkout()"
        style="font-size: 14px; padding: 0 0.4rem"
      >
        {{ showMoreLatestWorkout() ? 'Show less...' : 'Show more...' }}
      </div>
    </div>
  } @else {
    <div class="position-absolute top-50 start-50 translate-middle">
      <div
        class="spinner-border text-primary"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</div>
