<nav class="navbar fixed-bottom fw-bold">
  <div class="container">
    <ul class="navbar-nav flex-row justify-content-center w-100">
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.HOME"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
            <div>
              <i class="fa fa-home"></i>
            </div>
            <div>Home</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.EXERCISE_LOGS"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
            <div>
              <i class="fa fa-history"></i>
            </div>
            <div>Logs</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <div class="d-flex justify-content-center align-items-center add-button-container">
          <button
            class="btn btn-lg btn-primary d-flex justify-content-center align-items-center"
            (click)="navigateToCreateLog()"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.STATS"
          routerLinkActive="active"
        >
          <div>
            <i class="fa fa-bar-chart"></i>
          </div>
          <div>Stats</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          routerLinkActive="active"
        >
          <div>
            <i class="fa fa-address-book-o"></i>
          </div>
          <div>Friends</div>
        </a>
      </li>
    </ul>
  </div>
</nav>
