<ng-template
  #addLogOffcanvas
  let-offcanvas
>
  <div style="display: flex; flex-direction: column" class="offcanvas-header">
    <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%">
      <button
        tabindex="-1"
        type="button"
        class="btn-close btn-close-white"
        aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"
      ></button>
    </div>
    <div>
      <h4
        style="text-align: center; font-size: 14px"
        class="offcanvas-title"
      >
        Choose an option
      </h4>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="services">
      <div
        class="service"
        (click)="navigateTo([Paths.FOOD_LOGS, Paths.CREATE]); offcanvas.dismiss()"
      >
        <div class="service-icon">
          <i class="iconoir-book"></i>
          <i class="iconoir-plus-circle-solid"></i>
        </div>
        <span class="btn btn-link"> Food Log</span>
      </div>

      <div
        class="service"
        (click)="navigateTo([Paths.EXERCISE_LOGS, Paths.CREATE]); offcanvas.dismiss()"
      >
        <div class="service-icon">
          <i class="iconoir-book"></i>
          <i class="iconoir-plus-circle-solid"></i>
        </div>
        <span class="btn btn-link">Exercise Log</span>
      </div>

      <div
        class="service"
        (click)="navigateTo([Paths.FOODS, Paths.CREATE]); offcanvas.dismiss()"
      >
        <div class="service-icon">
          <i class="iconoir-pizza-slice"></i>
          <i class="iconoir-plus-circle-solid"></i>
        </div>
        <span class="btn btn-link">Food</span>
      </div>

      <div
        class="service"
        (click)="navigateTo([Paths.EXERCISES, Paths.CREATE]); offcanvas.dismiss()"
      >
        <div class="service-icon">
          <i class="iconoir-gym"></i>
          <i class="iconoir-plus-circle-solid"></i>
        </div>
        <span class="btn btn-link">Exercise</span>
      </div>
    </div>
  </div>
</ng-template>

<nav class="navbar fixed-bottom fw-bold">
  <div class="container">
    <ul class="navbar-nav flex-row justify-content-center w-100">
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.HOME"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <i class="fa fa-home"></i>
          </div>
          <div>Home</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.EXERCISE_LOGS"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <i class="fa fa-history"></i>
          </div>
          <div>Logs</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <div class="d-flex justify-content-center align-items-center add-button-container">
          <button
            class="btn btn-lg btn-primary d-flex justify-content-center align-items-center"
            (click)="openSidebar(addLogOffcanvas)"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          [routerLink]="Paths.STATS"
          routerLinkActive="active"
        >
          <div>
            <i class="fa fa-bar-chart"></i>
          </div>
          <div>Stats</div>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center flex-column"
          routerLinkActive="active"
        >
          <div>
            <i class="fa fa-address-book-o"></i>
          </div>
          <div>Friends</div>
        </a>
      </li>
    </ul>
  </div>
</nav>
