/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use 'font-awesome/css/font-awesome.min';

:root {
  --bg: #111318;
  --primary: #5d2be9;
  --light-bg: #1b1d23;
  --font-color: #f8faf9;
}

.app {
  &-cursor-pointer {
    cursor: pointer;
  }

  &-spinner.spinner-border {
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
    --bs-spinner-border-width: 0.45em;
  }
}

// =======================
// GLOBAL OVERRIDES
// =======================

a {
  text-decoration: none;
}

input[type='date'] {
  color-scheme: dark;
}

// =======================
// BOOTSTRAP OVERRIDES
// =======================

:root {
  --bs-body-bg: var(--bg);
  --bs-body-color: var(--font-color);
}

[data-bs-theme='dark'] .alert .btn-close {
  filter: none;
}

.tooltip {
  --bs-tooltip-color: #fff;

  &.show {
    opacity: 1;
  }
}

.ring-tooltip {
  --bs-emphasis-color: #000;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-divider-margin-y: 0.1rem;
  --bs-dropdown-bg: var(--light-bg);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

.dropdown-item {
  background-color: var(--light-bg);
}

.btn.btn-outline-secondary {
  --bs-btn-bg: var(--primary);
  --bs-btn-color: var(--font-color);
}

.header-footer-padding {
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.offcanvas a,
.offcanvas .btn.btn-link {
  color: white;
  opacity: 0.8;
  padding: 0.1rem 0;
  font-size: 24px;
  margin-left: auto;
  background: none;
  border: none;
  text-decoration: none;
}

.offcanvas-header {
  .btn-close {
    margin-left: auto;
  }
}

.btn.btn-secondary {
  --bs-btn-bg: none;
}

.btn.btn-primary {
  --bs-btn-color: var(--font-color);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-bg: var(--primary);
  --bs-btn-hover-bg: var(--primary);
}

.form-control::placeholder {
  color: var(--font-color);
  opacity: 0.6;
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.modal-header {
  justify-content: center;

  .modal-title {
    font-size: 16px;
  }

  .btn-close {
    display: none;
  }
}

.modal-fullscreen .modal-body {
  overflow: hidden;
}

.dropdown {
  button.btn-outline-primary:hover,
  button.btn-outline-primary.show {
    background-color: white;
    color: var(--bs-btn-color);
  }
}

.accordion {
  --bs-accordion-btn-padding-x: 0.8rem;
  --bs-accordion-btn-padding-y: 0.6rem;
}

.accordion-highlight {
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-active-color: black;

  &:not(:first-of-type) {
    .accordion-button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      &.collapsed {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  &:not(:last-of-type) {
    .accordion-button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &.green {
    --bs-accordion-btn-bg: hsl(120 70% 85%);
    --bs-accordion-active-bg: hsl(120 70% 85%);
    --bs-accordion-border-color: hsl(120 70% 75%);

    td.table-slim-cell {
      background-color: var(--bs-accordion-active-bg);
      --bs-table-bg-type: transparent !important;
    }
  }

  &.yellow {
    --bs-accordion-btn-bg: hsl(50, 100%, 85%);
    --bs-accordion-active-bg: hsl(50 100% 85%);
    --bs-accordion-border-color: hsl(50 100% 75%);

    td.table-slim-cell {
      background-color: var(--bs-accordion-active-bg);
      --bs-table-bg-type: transparent !important;
    }
  }

  &.light-blue {
    --bs-accordion-btn-bg: hsl(200, 100%, 85%);
    --bs-accordion-active-bg: hsl(200 100% 85%);
    --bs-accordion-border-color: hsl(200 100% 75%);
  }
}

.form-switch {
  input[type='checkbox'] {
    width: 2.5rem;
    height: 1.4rem;
  }
}

.typeahead {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  width: 100%;
}

.alert {
  --bs-alert-margin-bottom: 0;
}

.toast {
  --bs-toast-padding-x: 0;
  --bs-toast-padding-y: 0;
}
