<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ mode === 'update' ? 'Edit' : 'Create' }} Log</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>

<div class="modal-body">
  <form>
    <!-- #region TYPEAHEAD USERNAME -->
    <div class="mb-3">
      <div class="input-group">
        <app-typeahead placeholder="Username" [items]="exerciseLogService.usernames" [control]="createOrUpdateLogFormGroup.controls.user">
        </app-typeahead>
      </div>

      @if (!createOrUpdateLogFormGroup.controls.user.pristine) {
        @for (error of createOrUpdateLogFormGroup.errors?.['user'] | keyvalue; track $index) {
          <div class="d-block invalid-feedback">{{ error.value }}</div>
        }
      }
    </div>
    <!-- #endregion -->

    <!-- #region INPUT DATE -->
    <div class="mb-3">
      <input
        type="date"
        placeholder="DD-MM-YYYY"
        class="form-control"
        placeholder="Reps"
        [formControl]="createOrUpdateLogFormGroup.controls.date"
      />
    </div>
    <!-- #endregion -->

    <!-- #region TYPEAHEAD EXERCISE -->
    <div class="mb-3">
      <div class="input-group">
        <app-typeahead
          placeholder="Exercise"
          [items]="exerciseLogService.exercises"
          [control]="createOrUpdateLogFormGroup.controls.exercise"
          [itemSelector]="exerciseSelector"
        ></app-typeahead>
      </div>

      @if (!createOrUpdateLogFormGroup.controls.exercise.pristine) {
        @for (error of createOrUpdateLogFormGroup.errors?.['exercise'] | keyvalue; track $index) {
          <div class="d-block invalid-feedback">{{ error.value }}</div>
        }
      }
    </div>
    <!-- #endregion -->

    @for (serieControl of createOrUpdateLogFormGroup.controls.series.controls; track $index) {
      <div class="input-group mb-3 align-items-center">
        <span class="input-group-text">Serie {{ $index + 1 }}</span>
        <input type="number" class="form-control" placeholder="Reps" [formControl]="serieControl.controls.reps" />
        <input type="number" class="form-control" placeholder="Kg" [formControl]="serieControl.controls.weightInKg" />
      </div>
    }

    @if (!createOrUpdateLogFormGroup.controls.series.pristine) {
      @for (error of createOrUpdateLogFormGroup.errors?.['series'] | keyvalue; track $index) {
        <div class="d-block invalid-feedback">{{ error.value }}</div>
      }
    }
  </form>
</div>
<div class="modal-footer" [ngClass]="{ 'justify-content-between': mode === 'update' }">
  @if (mode === 'update') {
    <!-- <button type="button" class="btn btn-danger" (click)="exerciseLogService.deleteLog$.next(originalValue); modal.dismiss()">
      Delete
    </button> -->
  }
  <button
    type="button"
    class="btn btn-secondary"
    (click)="modal.dismiss()"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="{ 'btn-primary': createOrUpdateLogFormGroup.valid, 'btn-secondary': createOrUpdateLogFormGroup.invalid }"
    (click)="modal.close()"
    [disabled]="createOrUpdateLogFormGroup.invalid"
  >
    Save
  </button>
</div>
