<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">***REMOVED******REMOVED*** mode === 'update' ? 'Edit' : 'Create' ***REMOVED******REMOVED*** Log</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <form>
    <!-- #region TYPEAHEAD USERNAME -->
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          [formControl]="createLogFormGroup.controls.user"
          (selectItem)="createLogFormGroup.controls.user.patchValue($event.item)"
          [ngbTypeahead]="usernameSearch"
          [popupClass]="'typeahead'"
          (focus)="usernameFocus$.next(createLogFormGroup.value.user || '')"
          #usernameTypeaheadInput
        />
        <button class="btn btn-outline-secondary" type="button" (click)="createLogFormGroup.controls.user.patchValue('')">
          <i class="fa fa-times"></i>
        </button>
      </div>
      @if (!createLogFormGroup.controls.user.pristine && createLogFormGroup.errors && createLogFormGroup.errors['userRequired']) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['userRequired'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (!createLogFormGroup.controls.user.pristine && createLogFormGroup.errors && createLogFormGroup.errors['userInvalidPeron']) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['userInvalidPeron'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
    </div>
    <!-- #endregion -->

    <!-- #region TYPEAHEAD EXERCISE -->
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Exercise"
          [formControl]="createLogFormGroup.controls.exercise"
          (selectItem)="createLogFormGroup.controls.exercise.patchValue($event.item)"
          [ngbTypeahead]="exerciseSearch"
          [popupClass]="'typeahead'"
          (focus)="exerciseFocus$.next(createLogFormGroup.value.exercise || '')"
          #exerciseTypeaheadInput
        />
        <button class="btn btn-outline-secondary" type="button" (click)="createLogFormGroup.controls.exercise.patchValue('')">
          <i class="fa fa-times"></i>
        </button>
      </div>
      @if (!createLogFormGroup.controls.exercise.pristine && createLogFormGroup.errors && createLogFormGroup.errors['exerciseRequired']) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['exerciseRequired'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (
        !createLogFormGroup.controls.exercise.pristine && createLogFormGroup.errors && createLogFormGroup.errors['exerciseInvalidPeron']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['exerciseInvalidPeron'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (
        !createLogFormGroup.controls.exercise.pristine && createLogFormGroup.errors && createLogFormGroup.errors['exerciseDoesNotExist']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['exerciseDoesNotExist'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
    </div>
    <!-- #endregion -->

    @for (serieControl of createLogFormGroup.controls.series.controls; track $index) ***REMOVED***
      <div class="input-group mb-3 align-items-center">
        <span class="input-group-text">Serie ***REMOVED******REMOVED*** $index + 1 ***REMOVED******REMOVED***</span>
        <input type="number" class="form-control" placeholder="Reps" [formControl]="serieControl.controls.reps" />
        <input type="number" class="form-control" placeholder="Kg" [formControl]="serieControl.controls.weightInKg" />
      </div>
***REMOVED***
    @if (
      !createLogFormGroup.controls.series.pristine && createLogFormGroup.errors && createLogFormGroup.errors['seriesAllSeriesAreEmpty']
    ) ***REMOVED***
      <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['seriesAllSeriesAreEmpty'] ***REMOVED******REMOVED***</div>
***REMOVED***
    @if (
      !createLogFormGroup.controls.series.pristine && createLogFormGroup.errors && createLogFormGroup.errors['seriesRepsMustBeInteger']
    ) ***REMOVED***
      <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createLogFormGroup.errors['seriesRepsMustBeInteger'] ***REMOVED******REMOVED***</div>
***REMOVED***
  </form>
</div>
<div class="modal-footer" [ngClass]="***REMOVED*** 'justify-content-between': mode === 'update' ***REMOVED***">
  @if (mode === 'update') ***REMOVED***
    <button type="button" class="btn btn-danger" (click)="exerciseLogService.deleteLog$.next(originalValue); modal.dismiss()">
      Delete
    </button>
***REMOVED***
  <button
    type="button"
    class="btn"
    [ngClass]="***REMOVED*** 'btn-primary': createLogFormGroup.valid, 'btn-secondary': createLogFormGroup.invalid ***REMOVED***"
    (click)="modal.close()"
    [disabled]="createLogFormGroup.invalid"
  >
    Save
  </button>
</div>
