:host {
  --bs-heading-color: white;
  --bs-modal-color: white;
  --bs-body-bg: var(--light-bg);
  --bs-body-color: var(--font-color);
  --bs-tertiary-bg: var(--primary);
  --bs-border-width: 0;
  --bs-modal-footer-border-width: 0;
  --bs-modal-header-border-width: 0;
  --bs-modal-header-padding: .5rem;
}
