<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">***REMOVED******REMOVED*** mode === 'update' ? 'Edit' : 'Create' ***REMOVED******REMOVED*** Log</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <form>
    <!-- #region TYPEAHEAD USERNAME -->
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          [formControl]="createOrUpdateLogFormGroup.controls.user"
          (selectItem)="createOrUpdateLogFormGroup.controls.user.patchValue($event.item)"
          [ngbTypeahead]="usernameSearch"
          [popupClass]="'typeahead'"
          (focus)="usernameFocus$.next(createOrUpdateLogFormGroup.value.user || '')"
          #usernameTypeaheadInput
        />
        <button class="btn btn-outline-secondary" type="button" (click)="createOrUpdateLogFormGroup.controls.user.patchValue('')">
          <i class="fa fa-times"></i>
        </button>
      </div>
      @if (
        !createOrUpdateLogFormGroup.controls.user.pristine &&
        createOrUpdateLogFormGroup.errors &&
        createOrUpdateLogFormGroup.errors['userRequired']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['userRequired'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (
        !createOrUpdateLogFormGroup.controls.user.pristine &&
        createOrUpdateLogFormGroup.errors &&
        createOrUpdateLogFormGroup.errors['userInvalidPeron']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['userInvalidPeron'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
    </div>
    <!-- #endregion -->

    <!-- #region INPUT DATE -->
    <div class="mb-3">
      <input
        type="date"
        placeholder="DD-MM-YYYY"
        class="form-control"
        placeholder="Reps"
        [formControl]="createOrUpdateLogFormGroup.controls.date"
      />
    </div>
    <!-- #endregion -->

    <!-- #region TYPEAHEAD EXERCISE -->
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Exercise"
          [formControl]="createOrUpdateLogFormGroup.controls.exercise"
          (selectItem)="createOrUpdateLogFormGroup.controls.exercise.patchValue($event.item)"
          [ngbTypeahead]="exerciseSearch"
          [popupClass]="'typeahead'"
          (focus)="exerciseFocus$.next(createOrUpdateLogFormGroup.value.exercise || '')"
          #exerciseTypeaheadInput
        />
        <button class="btn btn-outline-secondary" type="button" (click)="createOrUpdateLogFormGroup.controls.exercise.patchValue('')">
          <i class="fa fa-times"></i>
        </button>
      </div>
      @if (
        !createOrUpdateLogFormGroup.controls.exercise.pristine &&
        createOrUpdateLogFormGroup.errors &&
        createOrUpdateLogFormGroup.errors['exerciseRequired']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['exerciseRequired'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (
        !createOrUpdateLogFormGroup.controls.exercise.pristine &&
        createOrUpdateLogFormGroup.errors &&
        createOrUpdateLogFormGroup.errors['exerciseInvalidPeron']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['exerciseInvalidPeron'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (
        !createOrUpdateLogFormGroup.controls.exercise.pristine &&
        createOrUpdateLogFormGroup.errors &&
        createOrUpdateLogFormGroup.errors['exerciseDoesNotExist']
      ) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['exerciseDoesNotExist'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
    </div>
    <!-- #endregion -->

    @for (serieControl of createOrUpdateLogFormGroup.controls.series.controls; track $index) ***REMOVED***
      <div class="input-group mb-3 align-items-center">
        <span class="input-group-text">Serie ***REMOVED******REMOVED*** $index + 1 ***REMOVED******REMOVED***</span>
        <input type="number" class="form-control" placeholder="Reps" [formControl]="serieControl.controls.reps" />
        <input type="number" class="form-control" placeholder="Kg" [formControl]="serieControl.controls.weightInKg" />
      </div>
***REMOVED***
    @if (
      !createOrUpdateLogFormGroup.controls.series.pristine &&
      createOrUpdateLogFormGroup.errors &&
      createOrUpdateLogFormGroup.errors['seriesAllSeriesAreEmpty']
    ) ***REMOVED***
      <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['seriesAllSeriesAreEmpty'] ***REMOVED******REMOVED***</div>
***REMOVED***
    @if (
      !createOrUpdateLogFormGroup.controls.series.pristine &&
      createOrUpdateLogFormGroup.errors &&
      createOrUpdateLogFormGroup.errors['seriesRepsMustBeInteger']
    ) ***REMOVED***
      <div class="d-block invalid-feedback">***REMOVED******REMOVED*** createOrUpdateLogFormGroup.errors['seriesRepsMustBeInteger'] ***REMOVED******REMOVED***</div>
***REMOVED***
  </form>
</div>
<div class="modal-footer" [ngClass]="***REMOVED*** 'justify-content-between': mode === 'update' ***REMOVED***">
  @if (mode === 'update') ***REMOVED***
    <button type="button" class="btn btn-danger" (click)="exerciseLogService.deleteLog$.next(originalValue); modal.dismiss()">
      Delete
    </button>
***REMOVED***
  <button
    type="button"
    class="btn"
    [ngClass]="***REMOVED*** 'btn-primary': createOrUpdateLogFormGroup.valid, 'btn-secondary': createOrUpdateLogFormGroup.invalid ***REMOVED***"
    (click)="modal.close()"
    [disabled]="createOrUpdateLogFormGroup.invalid"
  >
    Save
  </button>
</div>
