<div
  class="log"
  (click)="exerciseLogService.logClicked$.next(exerciseLog)"
>
  <div style="display: grid; grid-template-columns: auto auto">
    <div class="d-flex flex-column">
      <div class="title">{{ exerciseLog.exercise.name | titlecase }}</div>
      <div class="hint">{{ exerciseLog.date | parseToDate }} - {{ exerciseLog.user.name }}</div>
    </div>
    <div class="series">
      @for (serie of exerciseLog.series; track $index) {
        <div style="display: grid; grid-template-columns: 2fr 1fr; white-space: pre-wrap; text-align: right;">
          <div>{{ serie.reps | padStart: 2 }} reps</div>
          <div>{{ serie.weightInKg | padStart: 2 }}kg</div>
        </div>
      }
    </div>
  </div>
</div>
