<div class="row my-2">
  <div class="col">
    <!-- DATE -->
    <div ngbAccordion>
      <div ngbAccordionItem *ngFor="let exerciseLogsPerExerciseNamePerUsernamePerDate of exerciseLogService.groupedLogs()">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <div class="row w-100">
              <div class="col d-flex align-items-center justify-content-center text-center">
                {{ exerciseLogsPerExerciseNamePerUsernamePerDate[0] | parseToDate }}
              </div>
            </div>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody [ngClass]="{ 'p-0': exerciseLogService.selectedUsername() }">
            <ng-template>
              @if (exerciseLogService.selectedUsername()) {
                <div class="table-responsive">
                  <table class="table table-bordered m-0 table-slim">
                    <tbody>
                      @for (exerciseLogsPerExerciseNamePerUsername of exerciseLogsPerExerciseNamePerUsernamePerDate[1]; track $index) {
                        @for (exerciseLogsPerExerciseName of exerciseLogsPerExerciseNamePerUsername[1]; track $index) {
                          <tr
                            [ngClass]="
                              exerciseLogsPerExerciseName[1].highlighted
                                ? 'accordion-highlight ' + exerciseLogsPerExerciseName[1].highlighted
                                : null
                            "
                          >
                            <td class="table-slim-cell fw-bold" style="width: 20%; vertical-align: middle">
                              {{ exerciseLogsPerExerciseName[1].excerciseName | titlecase }}
                            </td>
                            @for (serie of exerciseLogsPerExerciseName[1].series; track $index) {
                              <td class="table-slim-cell" style="text-wrap: nowrap; vertical-align: middle; text-align: center">
                                <div>{{ serie.reps }} reps</div>
                                <div>{{ serie.weightKg }}kg</div>
                              </td>
                            }
                          </tr>
                        }
                      }
                    </tbody>
                  </table>
                </div>
              } @else {
                <!-- #region USER -->
                <div ngbAccordion>
                  <div
                    ngbAccordionItem
                    *ngFor="let exerciseLogsPerExerciseNamePerUsername of exerciseLogsPerExerciseNamePerUsernamePerDate[1]"
                  >
                    <h2 ngbAccordionHeader>
                      <button ngbAccordionButton>
                        <div class="row w-100">
                          <div class="col d-flex align-items-center justify-content-center text-center">
                            {{ exerciseLogsPerExerciseNamePerUsername[0] | titlecase }}
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <!-- EXERCISE -->
                          <div ngbAccordion>
                            <div
                              ngbAccordionItem
                              *ngFor="let exerciseLogsPerExerciseName of exerciseLogsPerExerciseNamePerUsername[1]"
                              [ngClass]="
                                exerciseLogsPerExerciseName[1].highlighted
                                  ? 'accordion-highlight ' + exerciseLogsPerExerciseName[1].highlighted
                                  : null
                              "
                            >
                              <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>
                                  <app-excercise-row-title
                                    [showUsername]="false"
                                    [showDate]="false"
                                    [exerciseRow]="exerciseLogsPerExerciseName[1]"
                                  ></app-excercise-row-title>
                                </button>
                              </h2>
                              <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                  <ng-template>
                                    <app-excercise-row-body [exerciseRow]="exerciseLogsPerExerciseName[1]"></app-excercise-row-body>
                                  </ng-template>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #endregion -->
              }
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
