<nav class="navbar fixed-top px-1 z-3">
  <div class="container-fluid d-flex">
    <div style="color: white; font-weight: bold; font-size: 16px">
      @if (authService.user()) {
        Hello! {{ authService.user()?.name }}
      }
    </div>

    <!-- #region MENU -->
    <button
      type="button"
      class="btn"
      style="outline: none; border: none; padding: 0"
    >
      <i
        class="fa fa-bars"
        style="font-size: 22px; color: white"
        (click)="menuSidebarClicked.emit()"
      ></i>
    </button>
    <!-- #endregion -->
  </div>
</nav>
