<!-- #region FILTERS -->
<div class="container my-4">
  <div class="row mb-2">
    <!-- #region DROPDOWN TYPE -->
    <div class="col-6">
      <div ngbDropdown class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary w-100" ngbDropdownToggle>
          {{ selectedType$ | async | titlecase }}
        </button>
        <div ngbDropdownMenu class="w-100">
          <button ngbDropdownItem (click)="selectedTypeSubject.next(null)">Clear filter</button>
          <button ngbDropdownItem *ngFor="let type of types" (click)="selectedTypeSubject.next(type)">
            {{ type | titlecase }}
          </button>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region DROPDOWN EXCERCISE -->
    <div class="col-6">
      <div ngbDropdown
           class="d-flex justify-content-center">
        <button type="button"
                class="btn btn-outline-primary w-100"
                ngbDropdownToggle>
          {{ selectedExcercise$ | async | titlecase }}
        </button>
        <div ngbDropdownMenu
             class="w-100">
          <button ngbDropdownItem
                  (click)="selectedExcerciseSubject.next(null)">Clear filter</button>
          <button ngbDropdownItem
                  *ngFor="let excercise of excercises$ | async"
                  (click)="selectedExcerciseSubject.next(excercise)">
            {{ excercise | titlecase }}
          </button>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>

  <div class="row mb-2">
    <!-- #region DROPDOWN NAME -->
    <div class="col-12">
      <div ngbDropdown
           class="d-flex justify-content-center">
        <button type="button"
                class="btn btn-outline-primary w-100"
                ngbDropdownToggle>
          {{ selectedUsername$ | async | titlecase }}
        </button>
        <div ngbDropdownMenu
             class="w-100">
          <button ngbDropdownItem
                  (click)="selectedUsernameSubject.next(null)">Clear filter</button>
          <button ngbDropdownItem
                  *ngFor="let username of usernames"
                  (click)="selectedUsernameSubject.next(username)">
            {{ username | titlecase }}
          </button>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-check form-switch d-flex align-items-center gap-1">
        <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="isGrouped">
        <label class="form-check-label">Grouped</label>
      </div>
    </div>
  </div>
</div>
<!-- #endregion -->

<div *ngIf="!isLoading; else loadingSpinner">
  <div class="container" *ngIf="isGrouped">
    <div *ngIf="(personalRecord$ | async) as personalRecord" class="mb-5">
      <h5>Personal record</h5>
      <div ngbAccordion>
        <div ngbAccordionItem class="accordion-highlight green">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <app-excercise-row-title [excerciseRow]="personalRecord"></app-excercise-row-title>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <app-excercise-row-body [excerciseRow]="personalRecord"></app-excercise-row-body>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5>Log History</h5>
    <app-grouped-excercise-rows [groupedExcerciseLogs]="groupedLogs$ | async | ifNullEmptyArray">
    </app-grouped-excercise-rows>
  </div>

  <div class="container" *ngIf="!isGrouped">
    <div *ngIf="(personalRecord$ | async) as personalRecord" class="mb-5">
      <h5>Personal record</h5>
      <div ngbAccordion>
        <div ngbAccordionItem class="accordion-highlight green">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <app-excercise-row-title [excerciseRow]="personalRecord"></app-excercise-row-title>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <app-excercise-row-body [excerciseRow]="personalRecord"></app-excercise-row-body>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5>Log History</h5>
    <app-excercise-rows [excerciseRows]="excerciseRows$ | async | ifNullEmptyArray"></app-excercise-rows>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="d-flex justify-content-center align-items-center p-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>