<!-- #region MODAL -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Log</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <!-- #region TYPEAHEAD USERNAME -->
      <div class="mb-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            [formControl]="formGroup.controls.user"
            (selectItem)="formGroup.controls.user.patchValue($event.item)"
            [ngbTypeahead]="usernameSearch"
            [popupClass]="'typeahead'"
            (focus)="usernameFocus$.next(formGroup.value.user || '')"
            #usernameTypeaheadInput
          />
          <button class="btn btn-outline-secondary" type="button" (click)="formGroup.controls.user.patchValue('')">
            <i class="fa fa-times"></i>
          </button>
        </div>
        @if (!formGroup.controls.user.pristine && formGroup.errors && formGroup.errors['userRequired']) ***REMOVED***
          <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['userRequired'] ***REMOVED******REMOVED***</div>
    ***REMOVED***
        @if (!formGroup.controls.user.pristine && formGroup.errors && formGroup.errors['userInvalidPeron']) ***REMOVED***
          <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['userInvalidPeron'] ***REMOVED******REMOVED***</div>
    ***REMOVED***
      </div>
      <!-- #endregion -->

      <!-- #region TYPEAHEAD EXERCISE -->
      <div class="mb-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Exercise"
            [formControl]="formGroup.controls.exercise"
            (selectItem)="formGroup.controls.exercise.patchValue($event.item)"
            [ngbTypeahead]="exerciseSearch"
            [popupClass]="'typeahead'"
            (focus)="exerciseFocus$.next(formGroup.value.exercise || '')"
            #exerciseTypeaheadInput
          />
          <button class="btn btn-outline-secondary" type="button" (click)="formGroup.controls.exercise.patchValue('')">
            <i class="fa fa-times"></i>
          </button>
        </div>
        @if (!formGroup.controls.exercise.pristine && formGroup.errors && formGroup.errors['exerciseRequired']) ***REMOVED***
          <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['exerciseRequired'] ***REMOVED******REMOVED***</div>
    ***REMOVED***
        @if (!formGroup.controls.exercise.pristine && formGroup.errors && formGroup.errors['exerciseInvalidPeron']) ***REMOVED***
          <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['exerciseInvalidPeron'] ***REMOVED******REMOVED***</div>
    ***REMOVED***
        @if (!formGroup.controls.exercise.pristine && formGroup.errors && formGroup.errors['exerciseDoesNotExist']) ***REMOVED***
          <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['exerciseDoesNotExist'] ***REMOVED******REMOVED***</div>
    ***REMOVED***
      </div>
      <!-- #endregion -->

      @for (serieControl of formGroup.controls.series.controls; track $index) ***REMOVED***
        <div class="input-group mb-3 align-items-center">
          <span class="input-group-text">Serie ***REMOVED******REMOVED*** $index + 1 ***REMOVED******REMOVED***</span>
          <input type="number" class="form-control" placeholder="Reps" [formControl]="serieControl.controls.reps" />
          <input type="number" class="form-control" placeholder="Kg" [formControl]="serieControl.controls.weightInKg" />
        </div>
  ***REMOVED***
      @if (!formGroup.controls.series.pristine && formGroup.errors && formGroup.errors['seriesAllSeriesAreEmpty']) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['seriesAllSeriesAreEmpty'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
      @if (!formGroup.controls.series.pristine && formGroup.errors && formGroup.errors['seriesRepsMustBeInteger']) ***REMOVED***
        <div class="d-block invalid-feedback">***REMOVED******REMOVED*** formGroup.errors['seriesRepsMustBeInteger'] ***REMOVED******REMOVED***</div>
  ***REMOVED***
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn"
      [ngClass]="***REMOVED*** 'btn-primary': formGroup.valid, 'btn-secondary': formGroup.invalid ***REMOVED***"
      (click)="modal.close('Save click')"
      [disabled]="formGroup.invalid"
    >
      Save
    </button>
  </div>
</ng-template>
<!-- #endregion -->
<nav class="navbar navbar-dark bg-primary bg-gradient fw-bold px-3">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <div ngbDropdown display="dynamic" class="d-flex justify-content-end">
      <button
        type="button"
        class="btn d-flex justify-content-between align-items-center me-3"
        style="outline: none; border: none; color: white; font-weight: 500"
        ngbDropdownToggle
      >
        ***REMOVED******REMOVED*** exerciseLogService.selectedUsernameLabel() | titlecase ***REMOVED******REMOVED***
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="exerciseLogService.selectedUsername$.next(null)">All Users</button>
        @for (username of exerciseLogService.usernames(); track username) ***REMOVED***
          <button
            ngbDropdownItem
            [ngClass]="***REMOVED*** active: username === exerciseLogService.selectedUsername() ***REMOVED***"
            (click)="exerciseLogService.selectedUsername$.next(username)"
          >
            ***REMOVED******REMOVED*** username | titlecase ***REMOVED******REMOVED***
          </button>
    ***REMOVED***
      </div>
    </div>
    <button type="button" class="btn" style="outline: none; border: none; padding: 0">
      <i
        class="fa fa-refresh"
        style="font-size: 20px; color: white"
        [ngClass]="***REMOVED*** spin: isSpinning ***REMOVED***"
        (click)="isSpinning = true; fetchData()"
        (animationend)="isSpinning = false"
      ></i>
    </button>
  </div>
</nav>

<div [style.marginBottom.rem]="8">
  <router-outlet></router-outlet>
</div>

@if (exerciseLogService.loaded()) ***REMOVED***
  <button class="btn btn-lg btn-primary" (click)="open(content)">
    <i class="fa fa-plus"></i>
  </button>
***REMOVED***

<nav class="navbar navbar-dark bg-primary bg-gradient fixed-bottom fw-bold">
  <div class="container-fluid">
    <ul class="navbar-nav flex-row gap-3 justify-content-center w-100">
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center gap-2"
          [routerLink]="LOGS_PATH"
          routerLinkActive="active"
          [routerLinkActiveOptions]="***REMOVED*** exact: true ***REMOVED***"
        >
          Logs <i class="fa fa-history"></i>
        </a>
      </li>
      <li class="nav-item w-100">
        <a
          class="nav-link text-center d-flex justify-content-center align-items-center gap-2"
          [routerLink]="STATS_PATH"
          routerLinkActive="active"
        >
          Stats <i class="fa fa-bar-chart"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
