[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
[*.cs]

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# Verify
[*.{received,verified}.{txt}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false