/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';

.accordion-highlight ***REMOVED***
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-active-color: black;

  &:not(:first-of-type) ***REMOVED***
    .accordion-button ***REMOVED***
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      &.collapsed ***REMOVED***
        border-top-right-radius: 0;
        border-top-left-radius: 0;
  ***REMOVED***
***REMOVED***
***REMOVED***
  
  &:not(:last-of-type) ***REMOVED***
    .accordion-button ***REMOVED***
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &.collapsed ***REMOVED***
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
  ***REMOVED***
***REMOVED***
***REMOVED***

  &.green ***REMOVED***
    --bs-accordion-btn-bg: hsl(120 70% 85%);
    --bs-accordion-active-bg: hsl(120 70% 85%);
    --bs-accordion-border-color: hsl(120 70% 75%);
***REMOVED***

  &.yellow ***REMOVED***
    --bs-accordion-btn-bg: hsl(50, 100%, 85%);
    --bs-accordion-active-bg: hsl(50 100% 85%);
    --bs-accordion-border-color: hsl(50 100% 75%);
***REMOVED***

  &.light-blue ***REMOVED***
    --bs-accordion-btn-bg: hsl(200, 100%, 85%);
    --bs-accordion-active-bg: hsl(200 100% 85%);
    --bs-accordion-border-color: hsl(200 100% 75%);
***REMOVED***
***REMOVED***

.form-switch ***REMOVED***
  input[type="checkbox"] ***REMOVED***
    width: 2.5rem;
    height: 1.4rem;
***REMOVED***
***REMOVED***

.spinner-border ***REMOVED***
  --bs-spinner-width: 4rem;
  --bs-spinner-height: 4rem;
  --bs-spinner-border-width: 0.45em;
***REMOVED***