/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.accordion-highlight {
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-active-color: black;

  &.green {
    --bs-accordion-btn-bg: hsl(120 72% 80%);
    --bs-accordion-active-bg: hsl(120 72% 80%);
    --bs-accordion-border-color: hsl(120 72% 70%);
  }

  &.yellow {
    --bs-accordion-btn-bg: hsl(50, 100%, 85%);
    --bs-accordion-active-bg: hsl(50 100% 85%);
    --bs-accordion-border-color: hsl(50 100% 75%);
  }
}

.form-switch {
  input[type="checkbox"] {
    width: 2.5rem;
    height: 1.4rem;
  }
}

.spinner-border {
  --bs-spinner-width: 4rem;
  --bs-spinner-height: 4rem;
  --bs-spinner-border-width: 0.45em;
}