.log {
  background-color: var(--light-bg);
  color: var(--font-color);
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;

  .title {
    font-size: 15px;
    font-weight: 600;
  }

  .hint {
    font-size: 12px;
    opacity: 0.8;
  }

  .series {
    display: grid;
    font-size: 12px;
    opacity: 0.8;
  }
}